* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: sans-serif;
}

/* Container and Section */
.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: rgba(240,240,240,1);
}

.nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-login {
  margin-left: 20px;
}

a:link, a:visited {
  color: Black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: rgba(240,240,240,1);
  padding: 20px 0;
}


/* Login Form */
.login {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.login-wrapper {
  background: rgba(100,100,100,0.5);
  border-radius: 5px;
  width: 500px;
}



/* Mobile Style */
@media only screen and (max-width: 400px) {
	body {

	}
}

/* Tablet Style */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.login {
		width: 50%;
	}
}

@media only screen and (min-width: 961px) {
  .page {
    margin: 0 auto;
  }
}
